/* MOBILE BASE*/

svg {
  display: NONE;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

img {
}

h2 {
  font-size: 0.7em;
  font-weight: bold;
  color: #191919;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 2.5em;
}

header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.hiddenMobile {
  display: none;
}

nav li {
  font-size: 1em;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 2em;
  padding: 0.5em 1em;
}

ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 20px;
  margin-left: 3.5em;
}

nav img {
  width: 120px;
}

#primaSec {
  background-color: #ffc017;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid black;
}

#primaSec button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 2em;
  padding: 0.5em 2em;
  width: 40%;
}

#secondaSec {
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid gray;
  padding: 1em;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
}

.firstArticle {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.numberSemitrasph {
  font-size: 28px;
  color: #eee;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.article-content {
  display: flex;
  gap: 10px;
}

.article-content img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.text-content {
  display: flex;
  flex-direction: column;
}

#secondaSec div p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

#secondaSec h3 {
  font-size: 16px;
  margin: 4px 0;
  font-weight: bold;
  color: #000;
}

#secondaSec span {
  font-size: 13px;
  color: #888;
}

/* SE HO TEMPO FINISCO IL MOBILE per ora VADO DI DESKTOP*/

@media screen and (min-width: 1025px) {
  .hiddenMobile {
    display: block;
  }

  nav {
    padding: 1em 5em;
  }

  svg {
    display: block;
    margin: 0;
  }

  section#primaSec {
    background-color: #ffc017;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0;
  }

  #primaSec div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4em;
  }

  #primaSec h1 {
    font-size: 4em;
  }
}
